@inherits LayoutComponentBase
@using CourseWork1.Services
@inject AuthenticationService authenticateService


 <MudThemeProvider />
 <MudDialogProvider />
 <MudSnackbarProvider />

<div class="page">
    @if (authenticateService.IsAuthenticated())
    {
        <div class="sidebarAll">
            <NavMenu />
            </div>

    }

    <main>
        @* <div class="top-row px-4"> *@
        @*     <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a> *@
        @* </div> *@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
