@using CourseWork1.Services
@inject AuthenticationService authenticateService
@inject NavigationManager navigationManager



<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxl-c-plus-plus icon'></i>
        <i class='bx bx-menu' id="btn"></i>

    </div>
    <ul class="nav-list">

        <li>
            <NavLink href="dashboard">
                <i class='bx bx-grid-alt'></i>
            </NavLink>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <NavLink href="addtransaction">
                <i class='bx bxs-message-square-add'></i>
            </NavLink>
            <span class="tooltip">Add Transactions</span>
        </li>
        <li>
            <NavLink href="viewtransactions">
                <i class='bx bx-transfer-alt'></i>
            </NavLink>
            <span class="tooltip">View Transactions</span>
        </li>
        <li>
            <NavLink href="viewdebt">
                <i class='bx bx-credit-card'></i>
            </NavLink>
            <span class="tooltip">View Debt Detail</span>
        </li>
        <li>
            <NavLink href="userDetails">
                <i class='bx bx-user'></i>
            </NavLink>
            <span class="tooltip">User</span>
        </li>
        

        <li class="profile">
            <button type="button" @onclick="Logout" >
                <i class='bx bx-log-out' style="color: red;"></i>
            </button>
            
        </li>
    </ul>
</div>


@code {
    private async Task Logout()
    {
        try
        {
            authenticateService.Logout();
            navigationManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Unexpected Error while logging out: {ex.Message}");
        }

    }
}
