@page "/"
@using CourseWork1.Models
@using CourseWork1.Services
@inject IUserService userService
@inject NavigationManager navigationManager
@inject AuthenticationService authenticateUser

@* to show the errors  *@
@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="error-overlay">
        <dialog class="error-dialog" open>
            <h2>Error</h2>
            <p>@errorMessage</p>
            <button class="close-btn" @onclick="CloseDialog">❌</button>
        </dialog>
    </div>

}
@* using mudblazor for login page *@
<div class="center-container">
    <MudContainer Width="MaxWidth.Medium">
        <MudGrid Justify="Justify.Center" AlignItems="AlignItems.Center">
            <MudItem xs="12" sm="6" lg="4">
                <MudPaper Class="pa-4" Elevation="2">
                    <MudForm @ref="loginForm" @bind-IsValid="@isValid">
                        <MudText Typo="Typo.h6">Login</MudText>
                        <MudTextField T="string" Label="Username" Required="true" Variant="Variant.Outlined" RequiredError="Username is required!" @bind-Value="username" />
                        <MudTextField T="string" Label="Password" InputType="InputType.Password" Required="true" Variant="Variant.Outlined" RequiredError="Password is required!" @bind-Value="password" />
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mt-4" OnClick="@LoginUser">Login</MudButton>
                    </MudForm>
                    <MudText Typo="Typo.body1" Class="mt-4">
                        New here? <MudLink Href="register" Color="Color.Primary">Sign up</MudLink>
                    </MudText>
                </MudPaper>
            </MudItem>
            @* <MudItem xs="12" sm="6" lg="4"> *@
            @*     <MudImage Src="../../../wwwroot/favicon.png" Alt="Mony the dog" Elevation="25" Class="rounded-lg" /> *@
            @* </MudItem> *@
        </MudGrid>
    </MudContainer>
</div>

@code {
    private MudForm loginForm;
    private bool isValid;
    private string username;
    private string password;
    private string errorMessage;


    //to close the error box, the error message is set to null
    private void CloseDialog()
    {
        try
        {
            errorMessage = null;
        }
        catch (Exception e)
        {
            errorMessage = e.Message;
        }
    }

    //checks if the user exists or not
    private async Task LoginUser()
    {

        try
        {
            //all the users are loaded
            var users = await userService.GetAllUsersAsync();
            var user = users.FirstOrDefault(u => u.UserName == username && u.Password == HashPassword(password));
            // if the user is not null then the user is authenticated
            if (user != null)
            {
                authenticateUser.SetCurrentUser(user);
                navigationManager.NavigateTo("/dashboard");
            }
            else
            {
                throw new Exception("Invalid username or password.");

            }
        } //error handling
        catch (Exception ex)
        {
            errorMessage = $"Error occurred during login: {ex.Message}";
        }
    }
    // the password us hashed for security purposes
    private string HashPassword(string password)
    {
        try
        {
            using (var sha256 = System.Security.Cryptography.SHA256.Create())
            {
                var bytes = System.Text.Encoding.UTF8.GetBytes(password);
                var hash = sha256.ComputeHash(bytes);
                return Convert.ToBase64String(hash);
            }
        }
        catch(Exception ex)
        {
            errorMessage = ex.Message;
            return errorMessage;
        }

    }
}
