.search-container {
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    padding: 10px;
    max-width: 500px;
    width: 100%;
    transition: all 0.3s ease;
}

    .search-container:hover {
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
    }
.top {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.right {
    width: 400px;
    align-items: first baseline;
    align-content: center;
    gap: 10px;

}
.left {
    display:flex;
    max-width: 9000px;
}
.size{
    max-width:300px;
}
table {
    text-align: center;
}

